<div>
	<h1 class="title">The Hermiton Herald</h1>		

	<% @articles.each do |article| %>
		<div class="container">
			<h2><%= link_to article.title, article_path(article) %></h2>
			<p><%= article.content_to_html %></p>
			<%= link_to "Edit", edit_article_path(article) %>
			<%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure?"}%>
		</div>
	<% end %>

	<p><%= link_to "New Post", new_article_path %></p>
</div>