<div class="blog">
  <h1><%= @article.title %></h1>
  
  <div class="article-view">
    

    <p class="article-content"><%= @article.content_to_html %></p>

    <div class="article-actions">
      <%= link_to "Edit", edit_article_path(@article), class: "action"  %>
      <%= link_to "Return", articles_path, class: "action" %>
      <%= link_to "Delete", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "action" %>
    </div>
  </div>
</div>