<div class="item", id="item-<%= item.id %>">
  <div class="ui form">
    <div class="inline field">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
        <label class="item-content"><%= item.item %></label>
        <input type="text" class="edit-input" data-id="<%= item.id %>" style="display: none;" />
      </div>
      <div class="ui right floated content">
        <i class="eraser link icon" data-id="<%= item.id %>"></i>
        <i class="edit link icon" data-id="<%= item.id %>"></i>
      </div>
    </div>
  </div>
</div>
