<div class="ui container" style="padding-top: 20px;">

  <h1 class="ui center aligned header">Enter Coordinates on the Map</h1>

  <div class="ui stackable grid" data-controller="modal">
    
    <div class="row">
      
      <!--Map-->
      <div class="twelve wide column">
        <div class="map-container">
          <canvas class="map"
                  data-controller="map"
                  data-map-coordinates="<%= @coords.to_json %>">
          </canvas>
          <div id="map-tooltip" class="ui pointing below basic label"></div>
        </div>
      </div>

      <!--Existing Coords List-->
      <div class="four wide column">
        <%= button_tag "Add Coordinate", class: "ui fluid button", data: { action: "modal#show", modal: "addModal" } %>
        <div class="ui segment scrollable existing-coords">
          <div class="ui divided items">
            <%= render @coords %>
          </div>
        </div>
      </div>
    </div>

    <!--Add coordinates form-->
    <div class="ui tiny modal" id="add-modal" data-modal-target="addModal">
      <div class="header">Add a New Coordinate</div>
      <%= render "coordinates/form", coord: Coordinate.new, button_text: "Add" %>
    </div>

    <!-- Edit coords form -->
    <div class="ui tiny modal" id="edit-modal" data-modal-target="editModal">
      <div class="header">Edit Coordinates</div>
      <%= render "coordinates/form", coord: Coordinate.new, button_text: "Save" %>
    </div>
  </div>
</div>

